[Unit]
Description=configures powertop to save power
After=default.target
Wants=default.target

[Service]
ExecStart=powertop --auto-tune

[Install]
WantedBy=default.target
